<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>home</title>
    <link rel="stylesheet" href="/css/main.css">
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    </head>
    <body class="body"> 
      
     
      <form action="/upload" method="post" style="display: grid; gap: .5rem; grid-template-columns: auto 1fr; max-width: 500px; margin: 0 auto;" enctype="multipart/form-data">
        
        <div class="container"id="div1">
           <h3>Upload Your FILE :-</h3>

        <div class="drop-zone">
          <span class="drop-zone__prompt"> <div class="icons"> <img src="https://cdn-icons-png.flaticon.com/512/4366/4366454.png" class="img"> </div> Drop file here or click to upload</span>
          <input type="file" name="file" class="drop-zone__input">
        </div>

        
        
        
        <div class="label">
        <% if (locals.fileLink != null) { %>
          <input class="cpbox" type="text" value="<%= locals.fileLink %>" id="myInput">
          <div class="tooltip">
            <button onclick="myFunction()" onmouseout="outFunc()">
              <span class="tooltiptext" id="myTooltip">Copy to clipboard</span>
              <i class="fa fa-clone" ></i>
            </button>
          </div>
          <% } %>
        </div>
        <input class="password" type="password" id="password" placeholder="password" name="password" required/>
       
          <div class="buttons">
          <!-- <% if (locals.fileLink != null) { %>
            <button>
              <a class="open"  href="<%= locals.fileLink %>">open</a>
            </button>
            <% } %> -->
              <div class="ssubmit">
            <button class="submit"onclick="HideFunction()" type="submit">SUBMIT</button>
            <% if (locals.fileLink != null) { %>
              <button class="bb" onclick="goBack()">
              Done
              </button> 
              <% } %>
          </div>
       
      </div>
    </div>
    
           </form>
          
    <script>
function myFunction() {
  var copyText = document.getElementById("myInput");
  copyText.select();
  
  copyText.setSelectionRange(0, 99999);
  navigator.clipboard.writeText(copyText.value);
  
  var tooltip = document.getElementById("myTooltip");
  // tooltip.innerHTML = "Copied: " + copyText.value;
  // i have used upper line to show copied : and it's link which is copied
  // in the below line it show's that the link is copied
  tooltip.innerHTML ="This Link Is Copied"
}

function outFunc() {
  var tooltip = document.getElementById("myTooltip");
  tooltip.innerHTML = "Copy to clipboard";
}


</script>

<script>
  document.querySelectorAll(".drop-zone__input").forEach((inputElement) => {
	const dropZoneElement = inputElement.closest(".drop-zone");

	dropZoneElement.addEventListener("click", (e) => {
		inputElement.click();
	});

	inputElement.addEventListener("change", (e) => {
		if (inputElement.files.length) {
			updateThumbnail(dropZoneElement, inputElement.files[0]);
		}
	});

	dropZoneElement.addEventListener("dragover", (e) => {
		e.preventDefault();
		dropZoneElement.classList.add("drop-zone--over");
	});

	["dragleave", "dragend"].forEach((type) => {
		dropZoneElement.addEventListener(type, (e) => {
			dropZoneElement.classList.remove("drop-zone--over");
		});
	});

	dropZoneElement.addEventListener("drop", (e) => {
		e.preventDefault();

		if (e.dataTransfer.files.length) {
			inputElement.files = e.dataTransfer.files;
			updateThumbnail(dropZoneElement, e.dataTransfer.files[0]);
		}

		dropZoneElement.classList.remove("drop-zone--over");
	});
});

/**
 * Updates the thumbnail on a drop zone element.
 *
 * @param {HTMLElement} dropZoneElement
 * @param {File} file
 */
function updateThumbnail(dropZoneElement, file) {
	let thumbnailElement = dropZoneElement.querySelector(".drop-zone__thumb");

	// First time - remove the prompt
	if (dropZoneElement.querySelector(".drop-zone__prompt")) {
		dropZoneElement.querySelector(".drop-zone__prompt").remove();
	}

	// First time - there is no thumbnail element, so lets create it
	if (!thumbnailElement) {
		thumbnailElement = document.createElement("div");
		thumbnailElement.classList.add("drop-zone__thumb");
		dropZoneElement.appendChild(thumbnailElement);
	}

	thumbnailElement.dataset.label = file.name;

	// Show thumbnail for image files
	if (file.type.startsWith("image/")) {
		const reader = new FileReader();

		reader.readAsDataURL(file);
		reader.onload = () => {
			thumbnailElement.style.backgroundImage = `url('${reader.result}')`;
		};
	} else {
		thumbnailElement.style.backgroundImage = null;
	}
}
</script> 
<script>
  //for hide element
  function HideFunction() {

var x = document.getElementById("password");

  x.style.display = "none";

}
</script>


<!-- back or done button function -->
<script>
  function goBack() {
    window.history.back();
  }
  </script>
         </body>
</html>